


.cabecalho {
    background-color: #0196D8;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    background: #ffffff;
    
}

.promocao{
    text-align: center;
}

